.container {
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #0F1035;

    grid-template-columns: auto auto ;
    grid-template-rows: repeat(6, auto) ;
    grid-gap: 5px;

}

.photo img {
    width: 650px;
    height: 400px
    
}

#title {

    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 150px;
    text-align: center;

}

.imdb {
    width: 50px;
    height: 50px;
    
}


#brief {
    background-color: #7FC7D9;
    grid-column-start: span 2;
    padding: 5%;
    
    
}

#cast {
    background-color: #DCF2F1;
}

.img-heading{

    grid-column-start: span 2;
    grid-row: 1 / 2;

}

.img-heading img {
    padding: auto;
    width: 100%;
}

table {
    margin: auto;
    padding: auto;
    
}

.intro {

    margin: 20px;
    padding: 20px;
    text-align: left;
}
caption {
    font-weight: 800;
    text-align: center;
    margin: auto;
    padding: auto;
}

.characters {
    color: aliceblue;
    grid-row: 2 / 6;
    grid-column: span 2;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    color: aliceblue;
    background-color: #365486;
    text-align: center;
    grid-column-start: span 2;
}




@media screen and (max-width: 480px) {

    .container {
        background-color: white;
    }

    #title {
        background-color: white;
    }

    #brief {
        background-color: white;
    }

    #cast {
        background-color: white;
    }
    
    footer {
        color: #0F1035;
        background-color: white;
    }
}